# THIS IS AN EXAMPLE ENV FILE FORMAT


# FIREBASE CONFIG
VITE_API_KEY= #Paste your firebase api key here
VITE_AUTH_DOMAIN=#Paste your firebase auth domain here
VITE_PROJECT_ID=#Paste your firebase project id here
VITE_STORAGE_BUCKET=#Paste your firebase storage bucket key here
VITE_MESSAGE_SENDER_ID=#Paste your firebase message sender id here
VITE_APP_ID=#Paste your firebase app id here

# GEMINI API KEY
VITE_GEMINI_API_KEY= #Paste your gemini api key here 